# Arquivos e diretórios gerados pelo sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais do Python
venv/
*.venv/
env/
*.env/

# Arquivos e diretórios gerados por IDEs e editores de texto
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Arquivos e diretórios específicos do projeto (se aplicável)
# Por exemplo, se você tiver arquivos de configuração locais ou dados confidenciais, inclua-os aqui.
# config_local.py
# .env.local
